@model DangNgocTuong140.Models.LopHoc

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LopHoc</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoLopHoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoLopHoc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HocSinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HocSinh.MaHocSinh)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaLopHoc">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
